* {
    font-family: 'Roboto', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Pour s'adapter à un plus petit format */
@media (max-width: 760px) {
    nav {
        flex-direction: column;
        gap: 15px;
    }

    header h1 {
        font-size: 1.8em;
    }

    h3 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }
}
body {
    font-family: 'Roboto', serif;
    margin: 0;
    padding: 0;
    background-color: #f3f2f0;
    color: #333;
}

header {
    background-color: #291414;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
h1 {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    font-style: oblique;
}

.logo-title-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 110px;
    height: auto;
    display: block;
}

.logo-title-container h1 {
    margin: 0;
    font-size: 2rem;
    line-height: 110px; /* Match this with logo height to vertically center */
    height: 110px;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    gap: 20px;
    margin: 0;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav a:hover {
    color: #666;
}



.hero {
    background-image: url('hero-image.jpg'); /* Replace with actual image */
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.hero h1 {
    font-size: 1rem;
    padding: 20px;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    padding: 20px;
}

.gallery img {
    width: 100%;
    border-radius: 5px;
}

.contact {
    padding: 20px;
    text-align: center;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.contact input, .contact textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    background-color: #e6dccd;
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
}
